.login-form {
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 170px;
    color: black;
    max-width: 300px; 
}


.login-form-button {
    width: 100%;
    box-shadow: 0 4px 8px 0 #bfe4ff, 0 6px 20px 0 #bfe4ff;
    border: none;
    font-family: "Open Sans Bold";
    color: #0057e7;
}


.login-form-forgot {
    float: left;
}

.login-form-forgot {
    float: right;
}

.JoinNow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.NavMenu {
    height: 50px;
}

.ftr-class {
    background-color: #1D4279;
    color: white;
    justify-content: center;
    display: flex;
    width: 100%;
    height: 25px;
    position: fixed;
    bottom: 0;
}

.BodyDash {
    background-color: #F3F7FB;
    height: 750px;
}

.logoKopra {
    display: flex;
    justify-content: center;
}

.LogDaftar {
    text-align: right;
    color: #7f7d7d;
    font-size: 13px;
}