.login-form {
    padding-top: 20px;
}

.logoKopra {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.LogDaftar {
    text-align: right;
    color: #7f7d7d;
    font-size: 13px;
    margin-top: 20px;
}