.Content {
  display: flex;
}

.LogForm {
  background-color: white;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  height: 450px;
  border-radius: 15px;
  box-shadow: rgb(191 228 255) 0px 2px 4px 0px, rgb(191 228 255) 0px 2px 4px 0px;
  padding: 30px;
  padding-top: 0;
}

.SlideBanner {
  margin-left: 20px;
  width: 65%;
}
.bg-body {
  background-color: #f3f7fb;
}

.Header {
  background-color: white;
  display: flex;
  padding: 15pt 5pt 5pt;
  margin-bottom: 15pt;
  text-align: left;
  margin-left: 0pt;
  height: 115px;
  width: 100%;
}

.textDashboard {
  color: #2569a5;
  font-weight: bold;
  margin-left: 20px;
  font-size: 12pt;
}



